
*.PcbDocPreview
*.SchDocPreview
*.LOG
*.PrjPcbStructurePreview
*.PrjPcbStructurePreview
*.html
*.drc
cyber60-1/History/*
cyber60-2/History/*
cyber60-1/Project Outputs for alps-cherry/*
cyber60-2/Project Outputs for alps-cherry/*
.DS_Store
