
*.PcbDocPreview
*.SchDocPreview
*.LOG
*.PrjPcbStructurePreview
*.PrjPcbStructurePreview
*.html
*.drc
BLE-T1/History/*
BLE-T2/History/*
BLE-T1/Project Outputs for alps-cherry/*
BLE-T2/Project Outputs for alps-cherry/*
.DS_Store
