
*.PcbDocPreview
*.SchDocPreview
*.LOG
*.PrjPcbStructurePreview
*.PrjPcbStructurePreview
*.html
*.drc
.DS_Store
cyber60-mx/History/*
cyber60-mx/Project Outputs for alps-cherry/*
cyber60-alps/History/*
cyber60-alps/Project Outputs for alps-cherry/*
cyber60-smk/History/*
cyber60-smk/Project Outputs for alps-cherry/*
